@import url(https://themes.googleusercontent.com/fonts/css?kit=cz1jpBwGM3olgm6yAbYiUmFNHreHjGDULiILnCQaL3AhwzbRXCq9VLiKmr71AM0EhmorhrP7WPNHD-c8XM5pw2aJKlHrtewGmHjl3ZIvTIgs-BimimGMd68Ci4l6bz476lboFduP1IjgyK1FWy3UUh9IGyTIcG1GYguEjgy0uV4GouCgZ0IK-dUppgFJ9gaADb1dvSgxp-370RvRJtjBEqyztD1g4QMI0P111Piq098);
@media screen and (max-width: 1024px) {
    .resDis {
        display: none;
    }

    .flexImage {
        flex-direction: column;

    }

}

.lst-kix_qz80bg7gwhll-5>li {
    counter-increment: lst-ctn-kix_qz80bg7gwhll-5
}

.lst-kix_sdu85bb2f57g-7>li:before {
    content: "\0025cb   "
}

.lst-kix_sdu85bb2f57g-6>li:before {
    content: "\0025cf   "
}

ol.lst-kix_qz80bg7gwhll-7.start {
    counter-reset: lst-ctn-kix_qz80bg7gwhll-7 0
}

.lst-kix_sdu85bb2f57g-8>li:before {
    content: "\0025a0   "
}

.lst-kix_qz80bg7gwhll-7>li {
    counter-increment: lst-ctn-kix_qz80bg7gwhll-7
}

.lst-kix_chktgp199mro-7>li:before {
    content: "\0025cb   "
}

.lst-kix_chktgp199mro-6>li:before {
    content: "\0025cf   "
}

.lst-kix_chktgp199mro-8>li:before {
    content: "\0025a0   "
}

.lst-kix_chktgp199mro-5>li:before {
    content: "\0025a0   "
}

.lst-kix_sdu85bb2f57g-0>li:before {
    content: "\002605   "
}

.lst-kix_sdu85bb2f57g-1>li:before {
    content: "\0025cb   "
}

.lst-kix_sdu85bb2f57g-3>li:before {
    content: "\0025cf   "
}

.lst-kix_sdu85bb2f57g-2>li:before {
    content: "\0025a0   "
}

.lst-kix_sdu85bb2f57g-5>li:before {
    content: "\0025a0   "
}

.lst-kix_sdu85bb2f57g-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_sdu85bb2f57g-0 {
    list-style-type: none
}

.lst-kix_q0z9vg7tu61j-1>li:before {
    content: "\0027a2   "
}

.lst-kix_q0z9vg7tu61j-3>li:before {
    content: "\0025cf   "
}

.lst-kix_q0z9vg7tu61j-0>li:before {
    content: "\002756   "
}

.lst-kix_q0z9vg7tu61j-4>li:before {
    content: "\0025c6   "
}

.lst-kix_v351shaw0rem-1>li:before {
    content: "\0025cb   "
}

.lst-kix_q0z9vg7tu61j-2>li:before {
    content: "\0025a0   "
}

.lst-kix_v351shaw0rem-0>li:before {
    content: "\0025cf   "
}

.lst-kix_chktgp199mro-0>li:before {
    content: "\002605   "
}

.lst-kix_chktgp199mro-1>li:before {
    content: "\0025cb   "
}

ul.lst-kix_sdu85bb2f57g-6 {
    list-style-type: none
}

.lst-kix_chktgp199mro-3>li:before {
    content: "\0025cf   "
}

ul.lst-kix_sdu85bb2f57g-5 {
    list-style-type: none
}

ul.lst-kix_sdu85bb2f57g-8 {
    list-style-type: none
}

.lst-kix_chktgp199mro-2>li:before {
    content: "\0025a0   "
}

.lst-kix_chktgp199mro-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_sdu85bb2f57g-7 {
    list-style-type: none
}

ul.lst-kix_sdu85bb2f57g-2 {
    list-style-type: none
}

ul.lst-kix_sdu85bb2f57g-1 {
    list-style-type: none
}

ul.lst-kix_sdu85bb2f57g-4 {
    list-style-type: none
}

ul.lst-kix_sdu85bb2f57g-3 {
    list-style-type: none
}

ul.lst-kix_flf1eurmkzx2-2 {
    list-style-type: none
}

ul.lst-kix_flf1eurmkzx2-3 {
    list-style-type: none
}

ul.lst-kix_flf1eurmkzx2-0 {
    list-style-type: none
}

ul.lst-kix_flf1eurmkzx2-1 {
    list-style-type: none
}

ul.lst-kix_v351shaw0rem-0 {
    list-style-type: none
}

ul.lst-kix_v351shaw0rem-1 {
    list-style-type: none
}

ul.lst-kix_flf1eurmkzx2-8 {
    list-style-type: none
}

ul.lst-kix_v351shaw0rem-2 {
    list-style-type: none
}

.lst-kix_flf1eurmkzx2-5>li:before {
    content: "\0025a0   "
}

.lst-kix_flf1eurmkzx2-7>li:before {
    content: "\0025cb   "
}

ul.lst-kix_flf1eurmkzx2-6 {
    list-style-type: none
}

ul.lst-kix_flf1eurmkzx2-7 {
    list-style-type: none
}

ul.lst-kix_flf1eurmkzx2-4 {
    list-style-type: none
}

ul.lst-kix_flf1eurmkzx2-5 {
    list-style-type: none
}

ul.lst-kix_v351shaw0rem-7 {
    list-style-type: none
}

ul.lst-kix_v351shaw0rem-8 {
    list-style-type: none
}

.lst-kix_flf1eurmkzx2-1>li:before {
    content: "\0025cb   "
}

.lst-kix_flf1eurmkzx2-3>li:before {
    content: "\0025cf   "
}

.lst-kix_v351shaw0rem-2>li:before {
    content: "\0025a0   "
}

ul.lst-kix_v351shaw0rem-3 {
    list-style-type: none
}

ul.lst-kix_v351shaw0rem-4 {
    list-style-type: none
}

ol.lst-kix_qz80bg7gwhll-6.start {
    counter-reset: lst-ctn-kix_qz80bg7gwhll-6 0
}

ul.lst-kix_v351shaw0rem-5 {
    list-style-type: none
}

ul.lst-kix_v351shaw0rem-6 {
    list-style-type: none
}

.lst-kix_v351shaw0rem-4>li:before {
    content: "\0025cb   "
}

.lst-kix_gl21h3hzajib-8>li:before {
    content: "\0025a0   "
}

.lst-kix_q0z9vg7tu61j-5>li:before {
    content: "\0027a2   "
}

.lst-kix_q0z9vg7tu61j-7>li:before {
    content: "\0025cf   "
}

.lst-kix_v351shaw0rem-8>li:before {
    content: "\0025a0   "
}

.lst-kix_xctautootrdm-1>li:before {
    content: "\0025cb   "
}

.lst-kix_xctautootrdm-3>li:before {
    content: "\0025cf   "
}

.lst-kix_gl21h3hzajib-4>li:before {
    content: "\0025cb   "
}

.lst-kix_gl21h3hzajib-6>li:before {
    content: "\0025cf   "
}

.lst-kix_v351shaw0rem-6>li:before {
    content: "\0025cf   "
}

.lst-kix_qz80bg7gwhll-2>li {
    counter-increment: lst-ctn-kix_qz80bg7gwhll-2
}

ul.lst-kix_ck1eyh5x9uqv-5 {
    list-style-type: none
}

ul.lst-kix_ck1eyh5x9uqv-4 {
    list-style-type: none
}

ul.lst-kix_ck1eyh5x9uqv-3 {
    list-style-type: none
}

.lst-kix_xctautootrdm-5>li:before {
    content: "\0025a0   "
}

.lst-kix_xctautootrdm-7>li:before {
    content: "\0025cb   "
}

ul.lst-kix_ck1eyh5x9uqv-2 {
    list-style-type: none
}

ul.lst-kix_ck1eyh5x9uqv-8 {
    list-style-type: none
}

ul.lst-kix_ck1eyh5x9uqv-7 {
    list-style-type: none
}

ul.lst-kix_ck1eyh5x9uqv-6 {
    list-style-type: none
}

ul.lst-kix_ck1eyh5x9uqv-1 {
    list-style-type: none
}

ul.lst-kix_ck1eyh5x9uqv-0 {
    list-style-type: none
}

.lst-kix_gl21h3hzajib-0>li:before {
    content: "\002605   "
}

.lst-kix_gl21h3hzajib-2>li:before {
    content: "\0025a0   "
}

.lst-kix_qz80bg7gwhll-3>li {
    counter-increment: lst-ctn-kix_qz80bg7gwhll-3
}

ol.lst-kix_qz80bg7gwhll-8.start {
    counter-reset: lst-ctn-kix_qz80bg7gwhll-8 0
}

ul.lst-kix_q0z9vg7tu61j-5 {
    list-style-type: none
}

ul.lst-kix_q0z9vg7tu61j-6 {
    list-style-type: none
}

ul.lst-kix_q0z9vg7tu61j-3 {
    list-style-type: none
}

ul.lst-kix_q0z9vg7tu61j-4 {
    list-style-type: none
}

ul.lst-kix_q0z9vg7tu61j-7 {
    list-style-type: none
}

ul.lst-kix_q0z9vg7tu61j-8 {
    list-style-type: none
}

ul.lst-kix_q0z9vg7tu61j-1 {
    list-style-type: none
}

ul.lst-kix_q0z9vg7tu61j-2 {
    list-style-type: none
}

ul.lst-kix_q0z9vg7tu61j-0 {
    list-style-type: none
}

.lst-kix_m6x1egylg4hm-0>li:before {
    content: "\002605   "
}

ul.lst-kix_xctautootrdm-0 {
    list-style-type: none
}

.lst-kix_qz80bg7gwhll-6>li {
    counter-increment: lst-ctn-kix_qz80bg7gwhll-6
}

ul.lst-kix_xctautootrdm-2 {
    list-style-type: none
}

ul.lst-kix_xctautootrdm-1 {
    list-style-type: none
}

ul.lst-kix_gl21h3hzajib-1 {
    list-style-type: none
}

ul.lst-kix_gl21h3hzajib-0 {
    list-style-type: none
}

.lst-kix_m6x1egylg4hm-7>li:before {
    content: "\0025cb   "
}

ul.lst-kix_gl21h3hzajib-5 {
    list-style-type: none
}

ul.lst-kix_gl21h3hzajib-4 {
    list-style-type: none
}

.lst-kix_ck1eyh5x9uqv-1>li:before {
    content: "\0025cb   "
}

ul.lst-kix_gl21h3hzajib-3 {
    list-style-type: none
}

ul.lst-kix_gl21h3hzajib-2 {
    list-style-type: none
}

.lst-kix_m6x1egylg4hm-8>li:before {
    content: "\0025a0   "
}

ul.lst-kix_gl21h3hzajib-8 {
    list-style-type: none
}

.lst-kix_ck1eyh5x9uqv-2>li:before {
    content: "\0025a0   "
}

.lst-kix_ck1eyh5x9uqv-3>li:before {
    content: "\0025cf   "
}

ul.lst-kix_gl21h3hzajib-7 {
    list-style-type: none
}

ul.lst-kix_gl21h3hzajib-6 {
    list-style-type: none
}

.lst-kix_ck1eyh5x9uqv-4>li:before {
    content: "\0025cb   "
}

ol.lst-kix_qz80bg7gwhll-4.start {
    counter-reset: lst-ctn-kix_qz80bg7gwhll-4 0
}

ul.lst-kix_m6x1egylg4hm-0 {
    list-style-type: none
}

ul.lst-kix_m6x1egylg4hm-1 {
    list-style-type: none
}

ul.lst-kix_m6x1egylg4hm-2 {
    list-style-type: none
}

ul.lst-kix_m6x1egylg4hm-3 {
    list-style-type: none
}

ul.lst-kix_m6x1egylg4hm-4 {
    list-style-type: none
}

.lst-kix_ck1eyh5x9uqv-0>li:before {
    content: "\0025cf   "
}

ul.lst-kix_m6x1egylg4hm-5 {
    list-style-type: none
}

.lst-kix_qz80bg7gwhll-4>li {
    counter-increment: lst-ctn-kix_qz80bg7gwhll-4
}

ul.lst-kix_m6x1egylg4hm-6 {
    list-style-type: none
}

ul.lst-kix_m6x1egylg4hm-7 {
    list-style-type: none
}

ul.lst-kix_m6x1egylg4hm-8 {
    list-style-type: none
}

.lst-kix_xctautootrdm-8>li:before {
    content: "\0025a0   "
}

.lst-kix_qz80bg7gwhll-8>li:before {
    content: "" counter(lst-ctn-kix_qz80bg7gwhll-8, lower-roman) ". "
}

.lst-kix_qz80bg7gwhll-7>li:before {
    content: "" counter(lst-ctn-kix_qz80bg7gwhll-7, lower-latin) ". "
}

.lst-kix_qz80bg7gwhll-6>li:before {
    content: "" counter(lst-ctn-kix_qz80bg7gwhll-6, decimal) ". "
}

.lst-kix_qz80bg7gwhll-8>li {
    counter-increment: lst-ctn-kix_qz80bg7gwhll-8
}

.lst-kix_gb8xgz994ysp-0>li:before {
    content: "\002605   "
}

.lst-kix_qz80bg7gwhll-4>li:before {
    content: "" counter(lst-ctn-kix_qz80bg7gwhll-4, lower-latin) ". "
}

.lst-kix_ck1eyh5x9uqv-6>li:before {
    content: "\0025cf   "
}

.lst-kix_ck1eyh5x9uqv-7>li:before {
    content: "\0025cb   "
}

.lst-kix_qz80bg7gwhll-3>li:before {
    content: "" counter(lst-ctn-kix_qz80bg7gwhll-3, decimal) ". "
}

.lst-kix_qz80bg7gwhll-5>li:before {
    content: "" counter(lst-ctn-kix_qz80bg7gwhll-5, lower-roman) ". "
}

.lst-kix_gb8xgz994ysp-1>li:before {
    content: "\0025cb   "
}

.lst-kix_ck1eyh5x9uqv-5>li:before {
    content: "\0025a0   "
}

.lst-kix_gb8xgz994ysp-2>li:before {
    content: "\0025a0   "
}

.lst-kix_qz80bg7gwhll-1>li:before {
    content: "" counter(lst-ctn-kix_qz80bg7gwhll-1, lower-latin) ". "
}

.lst-kix_gb8xgz994ysp-3>li:before {
    content: "\0025cf   "
}

.lst-kix_gb8xgz994ysp-5>li:before {
    content: "\0025a0   "
}

.lst-kix_qz80bg7gwhll-2>li:before {
    content: "" counter(lst-ctn-kix_qz80bg7gwhll-2, lower-roman) ". "
}

.lst-kix_ck1eyh5x9uqv-8>li:before {
    content: "\0025a0   "
}

.lst-kix_m6x1egylg4hm-6>li:before {
    content: "\0025cf   "
}

.lst-kix_gb8xgz994ysp-4>li:before {
    content: "\0025cb   "
}

.lst-kix_m6x1egylg4hm-5>li:before {
    content: "\0025a0   "
}

.lst-kix_gb8xgz994ysp-7>li:before {
    content: "\0025cb   "
}

.lst-kix_m6x1egylg4hm-4>li:before {
    content: "\0025cb   "
}

.lst-kix_gb8xgz994ysp-6>li:before {
    content: "\0025cf   "
}

.lst-kix_qz80bg7gwhll-0>li:before {
    content: "" counter(lst-ctn-kix_qz80bg7gwhll-0, decimal) ". "
}

.lst-kix_m6x1egylg4hm-2>li:before {
    content: "\0025a0   "
}

ul.lst-kix_xctautootrdm-4 {
    list-style-type: none
}

ul.lst-kix_xctautootrdm-3 {
    list-style-type: none
}

.lst-kix_m6x1egylg4hm-1>li:before {
    content: "\0025cb   "
}

ul.lst-kix_xctautootrdm-6 {
    list-style-type: none
}

.lst-kix_m6x1egylg4hm-3>li:before {
    content: "\0025cf   "
}

ul.lst-kix_xctautootrdm-5 {
    list-style-type: none
}

ul.lst-kix_xctautootrdm-8 {
    list-style-type: none
}

ul.lst-kix_xctautootrdm-7 {
    list-style-type: none
}

ol.lst-kix_qz80bg7gwhll-5.start {
    counter-reset: lst-ctn-kix_qz80bg7gwhll-5 0
}

.lst-kix_gb8xgz994ysp-8>li:before {
    content: "\0025a0   "
}

.lst-kix_flf1eurmkzx2-8>li:before {
    content: "\0025a0   "
}

ol.lst-kix_qz80bg7gwhll-3.start {
    counter-reset: lst-ctn-kix_qz80bg7gwhll-3 0
}

.lst-kix_flf1eurmkzx2-6>li:before {
    content: "\0025cf   "
}

.lst-kix_qz80bg7gwhll-1>li {
    counter-increment: lst-ctn-kix_qz80bg7gwhll-1
}

.lst-kix_v351shaw0rem-3>li:before {
    content: "\0025cf   "
}

.lst-kix_q0z9vg7tu61j-8>li:before {
    content: "\0025c6   "
}

.lst-kix_flf1eurmkzx2-0>li:before {
    content: "\002605   "
}

.lst-kix_flf1eurmkzx2-4>li:before {
    content: "\0025cb   "
}

.lst-kix_v351shaw0rem-5>li:before {
    content: "\0025a0   "
}

.lst-kix_q0z9vg7tu61j-6>li:before {
    content: "\0025a0   "
}

.lst-kix_flf1eurmkzx2-2>li:before {
    content: "\0025a0   "
}

.lst-kix_xctautootrdm-2>li:before {
    content: "\0025a0   "
}

.lst-kix_xctautootrdm-0>li:before {
    content: "\002605   "
}

.lst-kix_xctautootrdm-4>li:before {
    content: "\0025cb   "
}

.lst-kix_v351shaw0rem-7>li:before {
    content: "\0025cb   "
}

.lst-kix_gl21h3hzajib-3>li:before {
    content: "\0025cf   "
}

.lst-kix_gl21h3hzajib-7>li:before {
    content: "\0025cb   "
}

.lst-kix_xctautootrdm-6>li:before {
    content: "\0025cf   "
}

.lst-kix_gl21h3hzajib-5>li:before {
    content: "\0025a0   "
}

ol.lst-kix_qz80bg7gwhll-8 {
    list-style-type: none
}

ol.lst-kix_qz80bg7gwhll-0.start {
    counter-reset: lst-ctn-kix_qz80bg7gwhll-0 0
}

ol.lst-kix_qz80bg7gwhll-0 {
    list-style-type: none
}

ol.lst-kix_qz80bg7gwhll-1 {
    list-style-type: none
}

ol.lst-kix_qz80bg7gwhll-2 {
    list-style-type: none
}

ol.lst-kix_qz80bg7gwhll-3 {
    list-style-type: none
}

ol.lst-kix_qz80bg7gwhll-4 {
    list-style-type: none
}

ol.lst-kix_qz80bg7gwhll-5 {
    list-style-type: none
}

ol.lst-kix_qz80bg7gwhll-6 {
    list-style-type: none
}

.lst-kix_gl21h3hzajib-1>li:before {
    content: "\0025cb   "
}

ol.lst-kix_qz80bg7gwhll-7 {
    list-style-type: none
}

ol.lst-kix_qz80bg7gwhll-1.start {
    counter-reset: lst-ctn-kix_qz80bg7gwhll-1 0
}

ul.lst-kix_chktgp199mro-5 {
    list-style-type: none
}

ul.lst-kix_chktgp199mro-6 {
    list-style-type: none
}

ul.lst-kix_chktgp199mro-7 {
    list-style-type: none
}

ul.lst-kix_chktgp199mro-8 {
    list-style-type: none
}

ul.lst-kix_chktgp199mro-1 {
    list-style-type: none
}

ol.lst-kix_qz80bg7gwhll-2.start {
    counter-reset: lst-ctn-kix_qz80bg7gwhll-2 0
}

ul.lst-kix_chktgp199mro-2 {
    list-style-type: none
}

ul.lst-kix_chktgp199mro-3 {
    list-style-type: none
}

ul.lst-kix_chktgp199mro-4 {
    list-style-type: none
}

ul.lst-kix_gb8xgz994ysp-8 {
    list-style-type: none
}

ul.lst-kix_gb8xgz994ysp-7 {
    list-style-type: none
}

ul.lst-kix_gb8xgz994ysp-6 {
    list-style-type: none
}

ul.lst-kix_gb8xgz994ysp-5 {
    list-style-type: none
}

ul.lst-kix_gb8xgz994ysp-4 {
    list-style-type: none
}

ul.lst-kix_gb8xgz994ysp-3 {
    list-style-type: none
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

ul.lst-kix_gb8xgz994ysp-2 {
    list-style-type: none
}

ul.lst-kix_gb8xgz994ysp-1 {
    list-style-type: none
}

ul.lst-kix_gb8xgz994ysp-0 {
    list-style-type: none
}

ul.lst-kix_chktgp199mro-0 {
    list-style-type: none
}

.lst-kix_qz80bg7gwhll-0>li {
    counter-increment: lst-ctn-kix_qz80bg7gwhll-0
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c14 {
    margin-left: 7.1pt;
    padding-top: 1pt;
    text-indent: 7.1pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c34 {
    background-color: #ffffff;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c63 {
    padding-top: 3pt;
    text-indent: 36pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: justify;
    margin-right: 17pt
}

.c33 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: justify;
    margin-right: 36pt
}

.c28 {
    padding-top: 0pt;
    text-indent: 36pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: justify;
    margin-right: 36pt
}

.c13 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c15 {
    color: #1c1c1c;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c22 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 40pt;
    font-family: "Algerian";
    font-style: normal
}

.c56 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 18pt;
    font-family: "Amaranth";
    font-style: normal
}

.c12 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c0 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Calibri";
    font-style: normal
}

.c10 {
    color: #0000ff;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Algerian";
    font-style: normal
}

.c1 {
    color: #0000ff;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c44 {
    color: #0000ff;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Corsiva";
    font-style: normal
}

.c29 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c73 {
    padding-top: 3pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: justify;
    margin-right: 17pt
}

.c11 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c21 {
    margin-left: 72pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c18 {
    padding-top: 70pt;
    padding-bottom: 0pt;
    line-height: 1.3;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c43 {
    padding-top: 0pt;
    text-indent: 36pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c4 {
    color: #d5a6bd;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Corsiva";
    font-style: normal
}

.c20 {
    color: #0000ff;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Algerian";
    font-style: normal
}

.c3 {
    color: #1155cc;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c5 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c27 {
    padding-top: 0pt;
    padding-bottom: 10pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c16 {
    color: #999999;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 18pt;
    font-family: "Amaranth";
    font-style: normal
}

.c2 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c24 {
    color: #0000ff;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c19 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Algerian";
    font-style: normal
}

.c6 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c49 {
    color: #4a86e8;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Algerian";
    font-style: normal
}

.c42 {
    padding-top: 1pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c51 {
    padding-top: 70pt;
    padding-bottom: 0pt;
    line-height: 1.3;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c66 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.3;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c46 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c90 {
    padding-top: 10pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c72 {
    padding-top: 0pt;
    padding-bottom: 10pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c86 {
    padding-top: 5pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c50 {
    padding-top: 1pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c71 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c74 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c30 {
    font-size: 12pt;
    font-family: "Century";
    font-style: italic;
    color: #0b5394;
    font-weight: 700
}

.c45 {
    color: #f6b26b;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c32 {
    font-size: 9pt;
    font-family: "Algerian";
    color: #00b0f0;
    font-weight: 700
}

.c75 {
    color: #424242;
    font-weight: 400;
    font-size: 11pt;
    font-family: "Source Code Pro"
}

.c48 {
    font-size: 16pt;
    font-family: "Corsiva";
    color: #0000ff;
    font-weight: 700
}

.c81 {
    font-size: 15pt;
    font-family: "Pacifico";
    color: #ffd966;
    font-weight: 400
}

.c41 {
    font-size: 10pt;
    font-family: "Algerian";
    color: #0000ff;
    font-weight: 700
}

.c57 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c31 {
    font-size: 10pt;
    font-family: "Times New Roman";
    color: #1c1c1c;
    font-weight: 700
}

.c17 {
    font-size: 10pt;
    font-family: "Times New Roman";
    color: #0000ff;
    font-weight: 700
}

.c9 {
    font-size: 10pt;
    font-family: "Times New Roman";
    color: #00b0f0;
    font-weight: 700
}

.c54 {
    font-size: 10.5pt;
    font-family: "Roboto";
    color: #0000ff;
    font-weight: 700
}

.c36 {
    font-size: 14pt;
    font-family: "Playball";
    font-weight: 700
}

.c26 {
    font-size: 14pt;
    font-family: "Century";
    font-weight: 700
}

.c62 {
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c35 {
    font-size: 10pt;
    font-family: "Times New Roman";
    font-weight: 700
}

.c77 {
    font-weight: 700;
    font-size: 12pt;
    font-family: "Algerian"
}

.c88 {
    font-size: 9pt;
    font-family: "Algerian";
    font-weight: 400
}

.c59 {
    font-size: 16pt;
    font-family: "Corsiva";
    font-weight: 700
}

.c76 {
    font-weight: 700;
    font-size: 11pt;
    font-family: "Calibri"
}

.c23 {
    background-color: #ffffff;
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt
}

.c53 {
    font-size: 12pt;
    font-family: "Century";
    font-weight: 700
}

.c87 {
    font-size: 9pt;
    font-family: "Algerian";
    font-weight: 700
}

.c58 {
    font-weight: 400;
    font-size: 11pt;
    font-family: "Times New Roman"
}

.c69 {
    font-weight: 700;
    font-size: 12pt;
    font-family: "Times New Roman"
}

.c82 {
    font-size: 12pt;
    font-family: "Times New Roman";
    font-weight: 400
}

.c67 {
    font-weight: 400;
    font-size: 16pt;
    font-family: "Pacifico"
}

.c25 {
    font-size: 10pt;
    font-family: "Times New Roman";
    font-weight: 400
}

.c68 {
    font-family: "Algerian";
    color: #0000ff;
    font-weight: 700
}

.c8 {
    padding: 0;
    margin: 0
}

.c55 {
    font-weight: 400;
    font-family: "Calibri"
}

.c60 {
    font-weight: 700;
    font-family: "Century"
}

.c83 {
    color: #073763
}

.c39 {
    color: #00b0f0
}

.c89 {
    color: #6d9eeb
}

.c85 {
    color: #4a86e8
}

.c80 {
    text-indent: -18pt
}

.c61 {
    margin-right: 7pt
}

.c52 {
    margin-right: 16pt
}

.c37 {
    margin-left: 36pt
}

.c47 {
    margin-left: 72pt
}

.c78 {
    color: #1155cc
}

.c70 {
    font-style: italic
}

.c65 {
    color: #0b5394
}

.c91 {
    margin-right: -45pt
}

.c79 {
    margin-right: 5pt
}

.c7 {
    padding-left: 0pt
}

.c38 {
    background-color: #ffffff
}

.c64 {
    margin-right: 6pt
}

.c84 {
    height: 11pt
}

.c40 {
    color: #1c1c1c
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}